{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page_title spacing">
    <div style="text-align: center;">
    <img src="https://i.gifer.com/ZdPH.gif" alt="Flower Photography" width="250">
    </div>
    <h1> Digital Archive: Indoor Houseplants! </h1>
   <h2>Creators: Ricky Chen & Sabrina Wu<br>
    DigHum150A Final Project<br>
    Dr. Kea Johnston</h2>
</div>
<div style="text-align: center; font-family: Epilogue, sans-serif; font-size:20px; 
    padding-left: 250px; padding-right: 250px;">
    Welcome to the Plant Archive! We wanted to create an archive to share the plants in our lives, and share instructions and information on how to take care of them. We hope you enjoy!
</div>
<p class="homelink"><a href="archive/">Tour the Archives</a> </p>

{% endblock %}